body {
  font-family: 'Lato', sans-serif;
  font-size:1.85em;
  color: #131313;
  background: #f3f3f3;
  padding: 0;
  margin: 0;
}

a {
  color: #9f111d;
}

a:hover {
  color: #555;
  text-decoration:none;
}

h1 {
  margin-bottom:25px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
}



ul li div img {
  text-align: center;
  margin: 0 auto;
}

ul li div h3 {
  position: absolute;
  z-index: 2;
  text-align: center;
  top: 40%;
  left: auto;
  right: auto;
  width: 100%;
}

ul li div h3 a {        
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-shadow: 0 0 8px #131313;
  padding-left: 15px;
  padding-right: 15px;
}

 ul li div h3 a:hover {
  color: #fff;
  text-decoration: none;
 }
 
 .navbar-brand {
  color:#fff !important;
 }

.button {
  width: 100%;
  text-align: center;
  display: block;
  background: rgb(0, 141, 27);
  color: #fff;
  padding: 15px 0 15px 0;
  text-transform: uppercase;
  font-size: 18px;
}

.button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #007216;
}

.head {
  background-image: url(../img/baner.jpg);
  background-position: center;
}

.navbar {
  background-image: url(../img/dark.png);
  background-color: transparent;
  background-repeat: repeat;
  border: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #bbb;
  text-decoration: underline;
}

.navbar-default .navbar-nav>li>a:active {
  color: #eee;
}

.navbar-default .navbar-nav>li>a:visited {
  color: #fff;
}


#kiedyMszaForm input {
  width:90%;
}

#kiedyMszaForm input.date {
  width:65%;
}
#kiedyMszaForm input.time {
  width:24%;
}

#kiedyMszaForm div.col-sm-6 {
  text-align: center;
  margin-bottom: 30px;
  
}

#kiedyMszaForm input {
  font-size: 0.8em;
  padding: 0.7em;
}

#navigator_missing {
  color: #fff;
  background-image: url(../img/dark.png);
  background-color: transparent;
  background-repeat: repeat;
  border:0;
  cursor: pointer;
  font-size: 0.7em !important;
  
}





#kiedymsza_results .row .time {
  font-size: 1.5em;
  text-align: right;
  border: dotted black;
  border-width: 1px 0 0 0;
}

#kiedymsza_results .row .time span {
  font-size: 0.40em;
}


#kiedymsza_results .row .church {
  border: dotted black;
  border-width: 1px 0 0 1px; 
}

#kiedymsza_results .row .church .mass-desc {
  position: absolute;
  width: 100%;
  text-align: right;
  font-size: 2em;
  padding-right: 0.8em;
  color:#c0c0c0;

}

#kiedymsza_results .row .church h4 {

  position: relative;
  margin-top: 5px;
}

#kiedymsza_results .row .distance {
  border: dotted black;
  border-width: 1px 0 0 0;
  font-size: 1.75em;
  text-align: right;
  padding-top: 0.2em;
}

#kiedymsza_results .row .church .address {
  font-size: 0.7em;
  font-style: italic;
}

#kiedymsza_results .row {
  margin: 0;
}

#kiedymsza_results .row:hover {
  background-color: #ddd;  
}

h1 {
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 0.7em;  
}

h2 {
  font-size: 1.0em;
  margin-top: 0;
  margin-bottom: 0.5em;   
}

h3 {
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 0.5em; 
}

.church-map {
  width: 100%;
  height: 300px;
}

.church-update {
  font-size: 0.8em;
}

.church-update a.a_bottom {
  float: right;
  
}

.church-update img {
  width: 25px;
  heigth: 25px;
  border-radius: 50%;
  transition: all .3s ease;
}




#upload{
    position: absolute;


    width:100%;
    padding:4em 2em;
    border-radius:3px;
    text-align: center;
}

#drop{

    padding: 30px 10px;
    margin-bottom: 30px;
  
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;

}

#drop a{
    background-color:rgba(0,0,0,0.5);
    padding:1em 2em;
    color:#fff;
    font-size:1.3em;
    border-radius: 4px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;

}

#drop a:hover{
    background-color: rgba(15,70,230,0.5);
}

#drop input{
    display:none;
}

#upload ul{
  list-style:none;
  margin-top: 15px;
  background-image: url(../img/dark.png);
  background-color: transparent;
  background-repeat: repeat;    
}

#upload ul li{



    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:15px;
    height: 52px;

    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 2px;
    left: 100px;
    text-align: left;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#EEE;
    display:block;
}

#upload ul li canvas{
    top: 1px;
    left: 32px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 17px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}

.table input.desc {
  width:30px;
}

.table .desc span {
  display: none;
  float:right;
}

.table .desc span a {
  cursor: pointer;
}

.table td.time {
  text-align: right;
}
.table td.time input {
  text-align: right;
  width:50px
}
.table td.rm {
  cursor:pointer;
}

#footer {
  background-image: url(../img/baner.jpg);
  background-position: center bottom;
  position: fixed;
  bottom: 0;
  width:100%;
}

.map #footer {
  background-image: url(../img/dark.png);
  background-position: top;
  background-repeat: repeat;
  color: #fff;
  padding:0.2em;
  text-align: center;
}

.carousel-inner .carousel-caption {
  background-color:rgba(0,0,0,0.5);
  padding: 0;
  bottom:0;
  position: absolute;
  left:0;
  right:0;
  width:100%
}

.carousel-inner .carousel-caption a {
  color:#fff;
}

.carousel-inner .carousel-caption img {
  width: 30px;
  heigth: 30px;
  border-radius: 50%;
  transition: all .3s ease;
}

.carousel-inner .carousel-caption h4 {
  font-size: 0.7em;
}


.map .head {
  position: absolute;
  background-image: none;
  top: 0;
  left: auto;
  right: auto;
  z-index:10; 
  width: 100%;
}

#map-canvas {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px  
}

#map-canvas input {
  margin-top: 80px;
}


map .footer-spacer img{
  height: 0;
}

.footer-spacer img{
  height: 100px;
}

.fb-like {
  padding: 0.5em;
  background-color:rgba(0,0,0,0.5);
  width:100%;
}

.table>thead>tr>th {
  padding: 5px;
  text-align: center;
}

h6.prompter {
  font-style: italic;
  color: #707070;
  margin: 0 0 4px 0;
}

#kiedymsza_results .distance0 {
  background-color: #5eb81d;
}
#kiedymsza_results .distance1 {
  background-color: #88e649;
}
#kiedymsza_results .distance2 {
  background-color: #9aff73;
}
#kiedymsza_results .distance3 {
  background-color: #cbffa3;
}

#kiedymsza_results .distance0 .church .mass-desc,
#kiedymsza_results .distance1 .church .mass-desc {
  color: #f0f020;  
}

#kiedymsza_results .distance2 .church .mass-desc {
  color:#fff;
}

#kiedymsza_results .distance0 h4 a,
#kiedymsza_results .distance1 h4 a {
  color: #e0111d;
}

.carousel-control {
  font-size: 4em;
  padding-top: 2em;
}

.about h1,
.about h2,
.about h3 {
  font-size: 1.1em;
  font-weight: bold;
}

.about p {
  text-indent: 1em;
}

.church-map {
  color: #fff;
}


.picker__frame {
  max-width: 400px;
}

.picker__day {
  padding: .0125em 0;
}

.picker__button--clear, .picker__button--close, .picker__button--today {
  font-size: .6em;
}

.picker__list-item {
  cursor: pointer;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

.navbar-default {
  border-radius: 0;  
}

.navbar-header {
  padding-left: 15px;
}


a.navbar-brand {
  font-weight: bold;
}

@media (max-width:480px) {
  .xtable {
    transform: scale(0.70);
    margin-left:-88px;
  }
  
  #drop{
    padding: 10px 0;
  }
  #upload {
    padding: 1.5em 0.5em;
  }
  
  #kiedymsza_results .row .church .mass-desc {
    font-size:1em;
  }
}

@media (max-width:991px) {
  #kiedymsza_results .row .time {
    font-size: 1em;
  }
  #kiedymsza_results .row .time span {
    font-size: 0.8em;
  }
  
  #kiedymsza_results .row .church h4 {
    font-size: 0.8em;
    margin: 4px 0;
  }
  #kiedymsza_results .row .church .address {
    font-size: 0.7em;
  }
  

}


