body {
  font-family: 'Lato', sans-serif;
  font-size:1.85em;
  color: #131313;
  background: #f3f3f3;
  padding: 0;
  margin: 0;
}

a {
  color: #9f111d;
}

a:hover {
  color: #555;
  text-decoration:none;
}

h1 {
  margin-bottom:25px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}



ul li div img {
  text-align: center;
  margin: 0 auto;
}

ul li div h3 {
  position: absolute;
  z-index: 2;
  text-align: center;
  top: 40%;
  left: auto;
  right: auto;
  width: 100%;
}

ul li div h3 a {        
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-shadow: 0 0 8px #131313;
  padding-left: 15px;
  padding-right: 15px;
}

 ul li div h3 a:hover {
  color: #fff;
  text-decoration: none;
 }
 
 .navbar-brand {
  color:#fff !important;
 }

.button {
  width: 100%;
  text-align: center;
  display: block;
  background: rgb(0, 141, 27);
  color: #fff;
  padding: 15px 0 15px 0;
  text-transform: uppercase;
  font-size: 18px;
}

.button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #007216;
}

.head {
  background-image: url(../img/baner.jpg);
  background-position: center;
}

.navbar {
  background-image: url(../img/dark.png);
  background-color: transparent;
  background-repeat: repeat;
  border: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #bbb;
  text-decoration: underline;
}

.navbar-default .navbar-nav>li>a:active {
  color: #eee;
}

.navbar-default .navbar-nav>li>a:visited {
  color: #fff;
}

.nav li {
  padding-left: 8px;
}

#kiedyMszaForm input {
  width:90%;
}

#kiedyMszaForm input.date {
  width:65%;
}
#kiedyMszaForm input.time {
  width:24%;
}

#kiedyMszaForm div.col-sm-6 {
  text-align: center;
  margin-bottom: 15px;
  
}

#kiedyMszaForm .searching {
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('images/pending.gif');
  background-size: 40px;
}


#kiedyMszaForm input {
  font-size: 0.8em;
  padding: 0.7em;
}

#navigator_missing {
  color: #fff;
  background-image: url(../img/dark.png);
  background-color: transparent;
  background-repeat: repeat;
  border:0;
  cursor: pointer;
  font-size: 0.7em !important;
  
}





#kiedymsza_results .row .time {
  font-size: 1.5em;
  text-align: right;
  border: dotted black;
  border-width: 1px 0 0 0;
}

#kiedymsza_results .row .time span {
  font-size: 0.40em;
}


#kiedymsza_results .row .church {
  border: dotted black;
  border-width: 1px 0 0 1px; 
}

#kiedymsza_results .row .church .mass-desc {
  position: absolute;
  width: 100%;
  text-align: right;
  font-size: 2em;
  padding-right: 0.8em;
  color:#c0c0c0;

}

#kiedymsza_results .row .church h4 {

  position: relative;
  margin-top: 5px;
}

#kiedymsza_results .row .distance {
  border: dotted black;
  border-width: 1px 0 0 0;
  font-size: 1.75em;
  text-align: right;
  padding-top: 0.2em;
}

#kiedymsza_results .row .church .address {
  font-size: 0.7em;
  font-style: italic;
}

#kiedymsza_results .row {
  margin: 0;
}

#kiedymsza_results .row:hover {
  background-color: #ddd;  
}

#kiedymsza_results .row .church .nomass {
  font-size: 0.7em;
  color: #3030A0;
}

h1 {
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 0.7em;  
}

h2 {
  font-size: 1.0em;
  margin-top: 0;
  margin-bottom: 0.5em;   
}

h3 {
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 0.5em; 
}

.church-map {
  width: 100%;
  height: 300px;
}

.church-update {
  font-size: 0.8em;
}

.church-update a.a_bottom {
  float: right;
  
}

.church-update img,
.mojefoto {
  width: 25px;
  heigth: 25px;
  border-radius: 50%;
  transition: all .3s ease;
}

.people img{
  width: 45px;
  heigth: 45px;
  border-radius: 50%;
  transition: all .3s ease;
  margin: 5px;
}



.carousel-inner #upload{
    position: absolute;
    width:100%;
    padding:4em 2em;
    border-radius:3px;
    text-align: center;
}

.carousel-inner #drop{

    padding: 30px 10px;
    margin-bottom: 30px;
  
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;

}

.carousel-inner #drop a{
    background-color:rgba(0,0,0,0.5);
    padding:1em 2em;
    color:#fff;
    font-size:1.3em;
    border-radius: 4px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;

}

.carousel-inner #drop a:hover{
    background-color: rgba(15,70,230,0.5);
}

.carousel-inner #drop input{
    display:none;
}

.carousel-inner #upload ul{
  list-style:none;
  margin-top: 15px;
  background-image: url(../img/dark.png);
  background-color: transparent;
  background-repeat: repeat;    
}

.carousel-inner #upload ul li{



    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:15px;
    height: 52px;

    position: relative;
}

.carousel-inner #upload ul li input{
    display: none;
}

.carousel-inner #upload ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 2px;
    left: 100px;
    text-align: left;
}

.carousel-inner #upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#EEE;
    display:block;
}

.carousel-inner #upload ul li canvas{
    top: 1px;
    left: 32px;
    position: absolute;
}

.carousel-inner #upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 17px;
    right: 33px;
    cursor:pointer;
}

.carousel-inner #upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

.carousel-inner #upload ul li.error p{
    color:red;
}

.table input.desc {
  width:30px;
}

.table .desc span {
  display: none;
  float:right;
}

.table .desc span a {
  cursor: pointer;
}

.table td.time {
  text-align: right;
}
.table td.time input {
  text-align: right;
  width:50px
}
.table td.rm {
  cursor:pointer;
}

#footer {
  background-image: url(../img/baner.jpg);
  background-position: center bottom;
  position: fixed;
  bottom: 0;
  width:100%;
  z-index: 10;
}

.map #footer {
  background-image: url(../img/dark.png);
  background-position: top;
  background-repeat: repeat;
  color: #fff;
  padding:0.2em;
  text-align: center;
}

.carousel-inner .carousel-caption {
  background-color:rgba(0,0,0,0.5);
  padding: 0;
  bottom:0;
  position: absolute;
  left:0;
  right:0;
  width:100%;
  z-index: 0;
}

.carousel-inner .carousel-caption a {
  color:#fff;
}

.carousel-inner .carousel-caption img {
  width: 30px;
  heigth: 30px;
  border-radius: 50%;
  transition: all .3s ease;
}

.carousel-inner .carousel-caption h4 {
  font-size: 0.7em;
}


.map .head {
  position: absolute;
  background-image: none;
  top: 0;
  left: auto;
  right: auto;
  z-index:10; 
  width: 100%;
}

#map-canvas {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 5;
}

#map-canvas input {
  margin-top: 80px;
}


map .footer-spacer img{
  height: 0;
}

.footer-spacer img{
  height: 100px;
}

.fb-like {
  padding: 7px 0 2px 10px;
  background-color:rgba(0,0,0,0.5);
  width:100%;
}

.table>thead>tr>th {
  padding: 5px;
  text-align: center;
}

h6.prompter {
  font-style: italic;
  color: #707070;
  margin: 0 0 4px 0;
}

#kiedymsza_results .distance0, table.colors .distance0 {
  background-color: #5eb81d;
}
#kiedymsza_results .distance1, table.colors .distance1 {
  background-color: #75bf37;
}
#kiedymsza_results .distance2, table.colors .distance2 {
  background-color: #8fcc5e;
}
#kiedymsza_results .distance3, table.colors .distance3 {
  background-color: #99d16b;
}
#kiedymsza_results .distance4, table.colors .distance4 {
  background-color: #acd687;
}

#kiedymsza_results .distance5, table.colors .distance5 {
  background-color: #bddba0;
}
#kiedymsza_results .distance6, table.colors .distance6 {
  background-color: #cfe3ba;
}
#kiedymsza_results .distance7, table.colors .distance7 {
  background-color: #d8e6ca;
}
#kiedymsza_results .distance8, table.colors .distance8 {
  background-color: #e1edd5;
}
#kiedymsza_results .distance9, table.colors .distance9 {
  background-color: #f1f7eb;
}

table.colors {
  width: 100%;
}

table.colors td {
  width:10%;
  font-size: 10px;
  text-align: center;
}

#kiedymsza_results .distance0 .church .mass-desc,
#kiedymsza_results .distance1 .church .mass-desc {
  color: #f0f020;  
}

#kiedymsza_results .distance2 .church .mass-desc {
  color:#fff;
}

#kiedymsza_results .distance0 h4 a,
#kiedymsza_results .distance1 h4 a {
  color: #e0111d;
}

.carousel-control {
  font-size: 4em;
  padding-top: 2em;
}

.about h1,
.about h2,
.about h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 1em;
}

.about p {
  text-indent: 1em;
}

.about ul {
  margin: 4px 0 1em 1em;
}

.church-map {
  color: #fff;
  z-index: 5;
}


.picker__frame {
  max-width: 400px;
}

.picker__day {
  padding: .0125em 0;
}

.picker__button--clear, .picker__button--close, .picker__button--today {
  font-size: .6em;
}

.picker__list-item {
  cursor: pointer;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

.navbar-default {
  border-radius: 0;  
}

.navbar-header {
  padding-left: 15px;
}

.navbar-toggle {
  margin-right: 25px;
}

a.navbar-brand {
  font-weight: bold;
}

.footer-menu {
  padding: 25px;
}

.footer-menu ul {
  list-style: none;
  float: right;
  margin: 0 15px 0 0;

}

.footer-menu ul li {
  display: inline-block;
  color: #fff;
}

.footer-menu ul li a {
  color: #fff;
  font-size: 0.85em;
}

.footer-menu ul li a:hover {
  color:#bbb;
}

i.about {
  font-size: 0.75em;
}

.about .competition {
  text-indent: 0;
  margin-bottom: 10px;
}

.about .competition ul li img {
  float: right;
  width: 50px;
}

.about .competition hr {
  height: 1px;
  margin: 0;
}

.kiedymsza_grid_scroll_to_wait {
  height: 20px;
  background: url(../img/pending.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin-top:10px;
}


#map_search ul.nav-tabs {
  margin-top: 0;
}

#map_search #map_search_city,
#map_search #map_search_route {
  text-align: center;
  padding: 30px 0;
  height: 250px;
}

#map_search #map_search_route input {
  padding: 3px;
  font-size: 14px;
  margin-bottom: 5px;
  width: 280px;
}

#map_search #map_search_route input.date {
  width:70%;
}
#map_search #map_search_route input.time {
  width:24%;
  margin-left: 5px;
}

#map_search #map_search_route .submit {
  text-align: right;
}


#map_search .where {
  width: 90%;
  margin: 0;
  padding: 5px;  
}



.pac-container {
    z-index: 1051 !important;
}

#map_search .modal-footer {
  text-align: center;
  padding: 0;
}


.picker__holder {
  overflow: hidden;
}
.picker__list-item {
  font-size: 16px;
}

#map_search .route_from_to {
  position: relative;
}

#map_search .glyphicon {
    position: absolute;
    top: 5px;
    vertical-align: baseline;
    font-size: 18px;
    left: 255px;
    cursor: pointer;
    color: #909090;
}

#map_search .modal-footer img {
  width: 70%;
  height: 40px;
}

#churchCarousel .carousel-control {
  margin-top:50px;
  height: 80%;
  background-image: none !important;
}

#churchCarousel .carousel-inner .remove {
  position: absolute;
  top: 10px;
  right:20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  z-index: 100;
}

#churchCarousel .carousel-inner .remove:hover {
  color: #333;
  background-color: rgba(255,255,255,0.6);
  
}

.hideall {
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  z-index: 10000;
  background-color: rgba(255,255,255,0.5);
  display: none;
}

form.menuphoto {
  display: inline-block;
  float: right;
  margin-top: 3px;
  margin-bottom: 0;
}

form.menuphoto input {
  display: none;
}

form.menuphoto ul {
  float: right;
  margin: 0 5px 0 5px;
}

form.menuphoto ul li div {
  zoom: 80%;
}
form.menuphoto ul li div canvas{
  margin-top: 5px;  
}

form.menuphoto ul,
form.menuphoto div,
form.menuphoto ul li
{
  display: inline-block;
}

form.menuphoto ul li p {
  display: none
}

form.menuphoto .notlogged img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

form.menuphoto img {
  width:38px;
}


@media (max-width:480px) {
  .xtable {
    transform: scale(0.70);
    margin-left:-88px;
  }
  
  .carousel-inner #drop{
    padding: 10px 0;
  }
  .carousel-inner #upload {
    padding: 1.5em 0.5em;
  }
  
  #kiedymsza_results .row .church .mass-desc {
    font-size:0.8em;
    bottom: -3px;
    right: 1px;
  }
  
  .footer-menu {
    padding: 5px;
    width:100%;
    
  }
  
  .navbar {
    margin-bottom: 5px;
  }
  
  #kiedyMszaForm div.col-sm-6 {
    margin-bottom: 5px;
  }
}



@media (max-width:991px) {
  #kiedymsza_results .row .time {
    font-size: 1em;
  }
  #kiedymsza_results .row .time span {
    font-size: 0.8em;
  }
  
  #kiedymsza_results .row .church h4 {
    font-size: 0.8em;
    margin: 4px 0;
  }
  #kiedymsza_results .row .church .address {
    font-size: 0.7em;
  }
  
  .footer-menu {
    padding: 5px;
    width: 100%
  }
  
  .footer-menu ul {
    margin: 0 5px 0 0;
  }  

}

.gsc-control-cse {
  background-color: transparent !important;
  margin-top: 9px;
  border: 0 !important;
}
.cse .gsc-control-cse, .gsc-control-cse {
  background-color: transparent !important;
  border: 0 !important;
}


input.gsc-search-button,input.gsc-search-button:hover, input.gsc-search-button:focus {
  border-color: #666666;
  background-color: #38761D;
  background-image: none;
  filter: none;
  box-sizing: content-box;
}

input.gsc-input {
  font-size: 0.9em !important;

}

input.gsc-search-button {
  padding: 5px 27px !important;
  margin-top: 0 !important; 
}

td.gsc-input {
  padding-right: 0px !important;
}


.about .carousel-indicators .active{ background: #31708f; }
.about .content{ margin-top:20px; }
.about .adjust1{ float:left; width:100%; margin-bottom:0; }
.about .adjust2{ margin:0; }
.about .carousel-indicators {bottom:-5px;}
.about .carousel-indicators li{ border :1px solid #ccc; }
.about .carousel-control { color:#31708f; width:5%; }
.about .carousel-control:hover, .carousel-control:focus{ color:#31708f; }
.about #carousel-testimonials p {text-indent:0 ;}
.about .carousel-control.left, .carousel-control.right { background-image: none; }
.about .media-object{ margin:auto; margin-top:15%; }
.about p.testimonial {min-height: 55px;}
#carousel-testimonials img {max-width: 100px;}
@media screen and (max-width: 768px) { .about .media-object{ margin-top:0; } }


ul.other {
  margin-left: 20px;
}

.fb-page {
  margin: 3px 0 0 15px;
  border-bottom: 1px solid #fff;
}

#geo_search_results {
  position: absolute;
  display: none;
  background-color: white;
  border-style: inset;
  border-width: 1px;
  border-color: #eee;
  z-index: 2000;
  text-align: left;
  padding: 0.5em 0.7em;
  font-size: 0.6em;
  max-height: 200px;
  overflow: auto;
}

#geo_search_results li {
  margin-bottom: 3px;
  cursor: pointer;
}

.leaflet-routing-container {
  display: none;
}

.map_info_win p {
  margin: 0 !important;
}
