body {
  font-family: 'Ubuntu', sans-serif;
  font-size:14px;
  color: #131313;
  background: #f3f3f3;
  padding: 0;
  margin: 0;
}

a {
  color: #9f111d;
}

a:hover {
  color: #555;
  text-decoration:none;
}

h1 {
  margin-bottom:25px;
}



.button {
  width: 100%;
  text-align: center;
  display: block;
  background: rgb(0, 141, 27);
  color: #fff;
  padding: 10px 0 10px 0;
  text-transform: uppercase;
  font-size: 12px;
}

.button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #303030;
}

.button-red {
  background: rgb(141, 0, 27);
}



/* Karol */
.menu ul {
  list-style: none;
  padding: 0px;
  margin: 0 auto;
  text-align: center;
  background: #9f111d;
}

.menu ul li {
  display: inline-block;
  text-transform: uppercase;
}

.menu ul li a {
  color: #FFF;
  display: block;
  padding: 15px 15px 15px 15px;
}

.menu ul li a:hover,
.menu ul li.active a {
  color: #9f111d;
  background: #fff;
}

ul#churches {
  padding: 25px;
  max-width: 1140px;
  margin: 0 auto;
  list-style: none;
}

ul#churches li {
  padding-bottom: 15px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 15px;
}

ul#churches img.host {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border:3px solid #fff;
  left:50px;
  right: 50px;
  margin: 0 auto;
  top:35px;
  position: absolute;
}

ul#churches img.church {
  float: left;
  margin-right: 25px;
}

ul#churches h3,
ul#churches h4,
ul#churches h5 {
  float: left;
  width: 70%;
  margin: 2px;
}

.body {
  padding:2em;
}
